/* reset basico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
header {
  background-color: lightblue;
  color: antiquewhite;
  padding: 1rem;
  text-align: center;
}
nav ul {
  list-style: none;
}
nav ul li {
  display: inline;
  margin: 0 10px;
}
nav ul li a {
  color: aliceblue;
  text-decoration: none;
}
/* Estilos do conteudo principal */
main {
  padding: 1rem;
  flex: 1;
}
.secao1 {
  background-color: #F0F8FF;
  padding: 1rem;
  text-align: center;
}
.secao2 {
  background-color: #6495ED;
  padding: 1rem;
  text-align: center;
}
div.box {
  width: 500px;
  display: inline-block;
}
#imagem {
  height: 625px;
  width: 625px;
}
#imagem2 {
  height: 700px;
  width: 400px;
}
#imagem3 {
  height: 700px;
  width: 600px;
}
#rodape {
  background-color: #B0C4DE;
  color: antiquewhite;
  padding: 1rem;
  text-align: center;
} 
/* media queries para dispositivos moveis */
@media (max-width: 768px) {
  nav ul li {
    display: block;
    margin: 0.5rem 0;
  }
  .content {
    flex-direction: column;
  }
  article {
    flex: 1 1 100%;
  }
}

.header-content{
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;
  justify-content: center;
  margin-bottom: 1rem;
}