body{
    background-color: lightblue;
}

h1{
    color: red;
    font-size: 24px;
}

p1{
    color: green;
}
 img{

    width: 100px;
 }

 ul{
    margin-left: 20px;
 }

 a{
    color:blue
 }

 p{
    text-align: center;
    background: #cccccc;
 }